<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuan.springbootwebmybatisplus.system.mapper.SysUserMapper">
    <select id="selectPageByQueryParams" resultType="map">
        select id,
        create_date,
        update_date,
        username,
        password,
        name,
        name_spell_simple,
        name_spell_full,
        enabled
        from sys_user su
        where 1=1
        <if test="param2.id != null and param2.id != ''">
            and id=#{param2.id,jdbcType=VARCHAR}
        </if>
        <if test="param2.ids != null and param2.ids.length != 0">
            and id in
            <foreach collection="param2.ids" open="(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="param2.name != null and param2.name != ''">
            and (name like concat('%',#{param2.name} ,'%') or username like concat('%',#{param2.name} ,'%') or
            name_spell_full like concat('%',#{param2.name} ,'%') or name_spell_simple like concat('%',#{param2.name}
            ,'%'))
        </if>
        order by create_date desc
    </select>
    <select id="selectListByQueryParams" resultType="map"></select>
    <select id="selectOneByQueryParams" resultType="java.lang.Object"></select>
</mapper>
